/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.navbar-default{
  background-color: lightgrey;
}
img.custom-img-banner {
  box-shadow: 5px 10px 20px 2px grey;
}
footer.custom-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.custom-banner {
  margin: 10% 0;
}
